@font-face {
  font-family: "open_sansregular";
  src: url("./fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.friendListItem {
  list-style: none;
  font-family: "open_sansregular", Arial;
  padding: 60px 10px 10px 10px;
  width: 100px;
  display: inline-flex;
  color: rgba(202, 208, 212, 0.5);
}

.friendInfos {
  flex: 1 0 auto;
}

.friendInfos div > span {
  font-weight: normal;
  font-size: 12px;
}

.friendActions {
  flex: 0 0 90px;
}

.btn {
  white-space: normal !important;
}

.btnAction, .btnAction:active, .btnAction:focus, .btnAction:hover {
  margin-right: 5px;
  color: rgba(202, 208, 212, 0.5);
}

button:focus {
  outline: 0 !important;
}
