@model int
<html>
<head>
    <link rel="stylesheet" href="bootstrap.css" />
    <link rel="stylesheet" href="bootstrap.css.map" />
    <link rel="stylesheet" href="pa-StyleSheet.css" />
    <title>Phonlogy Assistant Portable</title>
</head>
<body>
    <div class="container body-content">
        <header><h3 style="text-align:center;">Phonlogy Assistant Portable</h3></header>
        <table style="width:100%;">
            <tr>
                <td class="pa-menu-cell">
                    <a href="hybrid:VowelChart" class="btn btn-primary btn-lg pa-menu-button">V</a>
                </td>
                <td class="pa-menu-cell">
                    <a href="hybrid:ConsChart" class="btn btn-primary btn-lg pa-menu-button">C</a>
                </td>
            </tr>
            <tr>
                <td class="pa-menu-cell">
                    <a href="hybrid:DataCorpus" class="btn btn-primary btn-lg pa-menu-button">DC</a>
                </td>
                <td class="pa-menu-cell">
                    <a href="hybrid:Search" class="btn btn-primary btn-lg pa-menu-button"><span class="glyphicon glyphicon-search"></span></a>
                </td>
            </tr>
            <tr>
                <td class="pa-menu-cell">
                    <a href="hybrid:Project" class="btn btn-primary btn-lg pa-menu-button">Proj</a>
                </td>
                <td class="pa-menu-cell">
                    <a href="hybrid:Settings" class="btn btn-primary btn-lg pa-menu-button"><span class="glyphicon glyphicon-cog"></span></a>
                </td>
            </tr>
            <tr>
                <td class="pa-menu-cell">
                    <a href="hybrid:DistChart" class="btn btn-primary btn-lg pa-menu-button">Dist</a>
                </td>
                <td class="pa-menu-cell">
                    <a href="hybrid:Steps" class="btn btn-primary btn-lg pa-menu-button"><span style="font-family:'Segoe UI Symbol','Symbola_hint';">&#x1F463;</span></a>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" src="../Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
</body>
</html>