@model OpenProjectViewModel
<html>
	<head>
    <meta charset="utf-8" />
    <meta http-equiv="default-style" content="text/css; charset=utf-8" />
        <link rel="stylesheet" href="bootstrap.css" />
        <link rel="stylesheet" href="pa-StyleSheet.css" />
    <title>Open Project</title>
    </head>
<body>
    <div class="container body-content">
        <header><h1>Open Project</h1></header>
        <p>@Model.ProjectsFound Projects Found.</p>
        <table class="table table-hover table-striped table-bordered">
            <thead><tr><th>Name</th><th>Type</th></tr></thead>
            @foreach (var entry in @Model.ProjectNames)
            {
                <tr>
                    <td>@entry.Name</td>
                    <td>@entry.DataSourceTypes</td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        <footer><a href="hybrid:Close" class="btn"><span class="glyphicon glyphicon-menu-left"></span></a></footer>
    </div>
    <script type="text/javascript" src="../Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
</body>
</html>