@model int
<html>
	<head>
    <link rel="stylesheet" href="bootstrap.css" />
    <title>Phonlogy Assistant Portable</title>
    </head>
<body>
    <div class="container body-content">
        <header><h1>Phonlogy Assistant Portable</h1></header>
		<img src="PA-64x64.png" class="img-responsive center-block" alt="Phonology Assistant Logo" />
    </div>
    <script type="text/javascript" src="../Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
</body>
</html>